<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/site2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <title></title>

</head>
@{
    ViewBag.Title = "ban3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <!------------------HEADER-------------------->
    <!------------------HEADER-------------------->
    <div class="">
        <div class="card">
            <!-- card left -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="~/images/table3/i1.jpg" alt="shoe image">
                        <img src="~/images/table3/i2.jpg" alt="shoe image">
                        <img src="~/images/table3/i3.jpg" alt="shoe image">
                        <img src="~/images/table3/i4.jpg" alt="shoe image">
                    </div>
                </div>
                <div class="img-select">
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img src="~/images/table3/i1.jpg" alt="shoe image">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="2">
                            <img src="~/images/table3/i2.jpg" alt="shoe image">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="3">
                            <img src="~/images/table3/i3.jpg" alt="shoe image">
                        </a>
                    </div>
                    <div class="mg-item">
                        <a href="#" data-id="4">
                            <img src="~/images/table3/i4.jpg" alt="shoe image">
                        </a>
                    </div>
                </div>
            </div>
            <!-- card right -->
            <div class="product-content">
                <h2 class="product-title">Bàn nước Around</h2>
                <!--<a href = "#" class = "product-link">visit nike store</a>
                <div class = "product-rating">
                  <i class = "fas fa-star"></i>
                  <i class = "fas fa-star"></i>
                  <i class = "fas fa-star"></i>
                  <i class = "fas fa-star"></i>
                  <i class = "fas fa-star-half-alt"></i>
                  <span>4.7(21)</span>
                </div>-->

                <div class="product-price">
                    <!--p class = "last-price">Old Price: <span>$257.00</span></p-->
                    <p class="new-price">Price: <span>9,680,000 VND</span></p>
                </div>

                <div class="product-detail">
                    <h2>about this item: </h2>
                    <p>
                        Kích thước: D1100 - R600 - C350/500<br>
                        Vật liệu: MDF Veneer Walnut - Mặt Ceramic - ABS<br><br>

                        Mã: 3*97791<br>
                        Danh mục: Bàn nước, Phòng khách<br>
                        Tags: : Gỗ
                    </p>
                    <p>Bàn nước Around là thiết kế giữa gỗ được kết hợp với mặt đá. Có thể thay đổi theo hai chiều khác nhau lên và xuống. Thêm vào đó mặt bàn được thiết kế với chất liệu ceramic hết sức sang trọng nâng lên nâng xuống được, với hộc kéo bí mật được ẩn ở dưới. Không những thế mặt bàn này khi nâng lên còn có thể tận dụng như bàn làm việc hay để đồ ăn nhẹ.</p>
                    <!--ul>
                      <li>Color: <span>Black</span></li>
                      <li>Available: <span>in stock</span></li>
                      <li>Category: <span>Shoes</span></li>
                      <li>Shipping Area: <span>All over the world</span></li>
                      <li>Shipping Fee: <span>Free</span></li>
                    </ul-->
                </div>

                <div class="purchase-info">
                    <button type="button" class="btn">
                        <a href="@Url.Action("Trangchu","TrangChus")">Quay về trang đặt hàng</a>

                    </button>
                </div>

                <div class="social-links">
                    <p>Share At: </p>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div><br><br>
    <script src="../script.js"></script><!------Javascript file link----->
    <!------------------FOOTER-------------------->
    <!-- info section -->
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_contact">
                        <h4>
                            Contact
                        </h4>
                        <div class="box">
                            <div class="img-box">
                                <img src="images/telephone-symbol-button.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    +01 123567894
                                </h6>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img-box">
                                <img src="images/email.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    demo@gmail
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_menu">
                        <h4>
                            Menu
                        </h4>
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html"> About </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="buy.html"> Online Buy </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info_news">
                        <h4>
                            newsletter
                        </h4>
                        <form action="">
                            <input type="text" placeholder="Enter Your email">
                            <div class="d-flex justify-content-center justify-content-end mt-3">
                                <button>
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end info section -->
    <!------------------FOOTER-------------------->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
    </script>
    <script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [],
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
    </script>
    <script type="text/javascript">
        $(".owl-2").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [],
            autoplay: true,

            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
    </script>
    <script src="~/Content/JavaScript.js"></script>
    <div>
    </div>
</body>
</html>


